p, h3 {
    color: #fff;
}

.film-card {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: start;
    border: 1px solid yellow;
    border-radius: 10px;
    width: 30vw;
    padding: 2%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 8%;
}