<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>

<body>

    <nav>
        <ul>
            <li>
                <a href="/">Games</a>
            </li>
            <li>
                <a href="cadastrar.html">Cadastro</a>
            </li>
            <li>Contato</li>
        </ul>
    </nav>

    <h1>Lista de todos os Games</h1>

    <ul>
        <% for (let i=0; i < games.length ; i++) { %>
            <li>
                <a href="/games/<%= games[i].id %>">
                    <%= games[i].nome %>
                </a>
            </li>
            <% } %>
    </ul>

</body>

</html>